@{
    ViewBag.Title = "ALL Staff Out Of Office";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content">
    <div class="row" style="margin-top:-25px">
        <div class="pageTitle bg1">
            <h3 class="lefty">Staff(s) Out of Office</h3>
            <div class="clear"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" style="background-color:white">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">List of Staffs Out of Office</legend>
                <table class="table table-striped table-condensed table-responsive customDT">
                    <thead>
                        <tr>
                            <th><strong>Reliever</strong>
                            <th><strong>Relieved Staff</strong> </th>
                            <th><strong>Start Date</strong></th>
                            <th><strong>End Date</strong></th>
                            <th><strong>Comment</strong></th>
                            <th><strong>Status</strong> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.AllStaffOutofOfficeList != null)
                        {
                            foreach (var up in ViewBag.AllStaffOutofOfficeList)
                            {
                        <tr>
                            <td>@up.Reliever</td>
                            <td>@up.Relieved</td>
                            <td>@up.StartDate</td>
                            <td>@up.EndDate</td>
                            <td>@up.Comment</td>
                            <td>
                                @if (up.Status == "Finished")
                                {<span class="label label-danger">@up.Status</span>}
                            else if (up.Status == "Starting")
                            {<span class="label label-warning">@up.Status</span>}
                        else
                        {<span class="label label-success">@up.Status</span>}
                            </td>

                        </tr>
                            }
                        }
                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $(".customDT").dataTable({
                "aLengthMenu": [10, 25, 50, 75, 100, 200],
                'iDisplayLength': 10,
                columnDefs: [{ orderable: false, "targets": [0, -1] }],
                "language": {
                    "lengthMenu": "Display  _MENU_ records",
                    "zeroRecords": "No record found",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No Record to Display Currently",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                },
                "order": [[1, "desc"]]
            });
        });
    </script>
}
