@model LOBP.Models.PasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    @*<div class="row">
        <div class="pageTitle bg1">
            <h2 class="lefty">Change Password</h2>
            <div class="clear"></div>
        </div>
    </div>*@

    <div class="content">
        <div class="row">
            <div class="col-md-7 col-md-offset-3"  style="border:5px solid whitesmoke">
                <div class="pageTitle bg1">
                    <h2 class="lefty">Change Password</h2>
                    <div class="clear"></div>
                </div>
                @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { id = "formid", role = "form", @class = "form-horizontal" }))
            {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    if (TempData["success"] != null)
                    {
                        <div class="alert alert-success alert-dismissable" role="alert">
                            <span class="glyphicon glyphicon-ok"></span> @TempData["success"]
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    }
                    <ul>
                        <li style="display: none"></li>
                    </ul>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="OldPassword">Current password</label>
                        <div class="col-md-8">
                            @Html.PasswordFor(model => model.OldPassword, new { required = "required", @autocomplete = "off", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.OldPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="NewPassword">New password</label>
                        <div class="col-md-8">
                            @Html.PasswordFor(model => model.NewPassword, new { required = "required", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="ConfirmPassword">Confirm new password</label>
                        <div class="col-md-8">
                            @Html.PasswordFor(model => model.ConfirmPassword, new { required = "required", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <div class="txtcenter col-md-offset-1">
                            <div>
                                <a class="btn btn-default" href="@Url.Action("Index")">Cancel</a> &nbsp;
                                <input class="btn btn-primary" type="submit" value="Change password" id="submitbtn">
                                <span id="loadingimg" style="display:none"><img src="~/Images/spinimg.gif" height="50" width="50" /></span>  
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>





    @section scripts{
        <script type="text/javascript">
            $(document).ready(function () {
                $('#submitbtn').click(function (e) {
                    e.preventDefault();

                    if ($("#formid").valid()) {
                        var oldpasswd = $("#OldPassword").val();
                        var newpasswd = $("#NewPassword").val();
                        var confirmpasswd = $("#ConfirmPassword").val();

                        if (newpasswd != confirmpasswd) {
                            alert("The New Password and Confimration Password must Match");
                            $("#loadingimg").hide('fast');
                        }
                        else {

                            var r = confirm("Do you really want to Change the Password?");
                            if (r == true) {
                                $("#loadingimg").show('fast');
                                $.post($("#formid").attr('action'), $("#formid").serialize())
                                    .done(function (data) {

                                        var returnmessage = data.Message;
                                        if (returnmessage != 'success') {
                                            $("#loadingimg").hide('fast');
                                            alert(returnmessage);
                                        }
                                        else {
                                            window.location.href = "/Admin/ChangePassword?message=Password Change Was Successfull&messagetype=INFO";
                                            $("#loadingimg").hide('fast');
                                        }

                                    })
                                    .fail(function (data) {
                                        alert("Network Communication Error, Restore Connection and Try again");
                                        $("#loadingimg").hide('fast');
                                    })
                                    .always(function (data) {
                                    });

                            }
                        }
                    }
                });
            });
        </script>
    }


