@model List<LOBP.DbEntities.Configuration>
@{
    ViewBag.Title = "Configurations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Configurations</h2>

<div class="content">



    @using (Html.BeginForm("AddConfig", "Admin", FormMethod.Post, new { id="formid", @class="form-horizontal"}))
    {
        <div class="modal fade addconfigmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="calenderModalLabel">
            <div class="modal-dialog modal" style="vertical-align: middle; margin:0 auto 0 30%; overflow-y:hidden; overflow-x:hidden; display:block; margin-top:50px" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-success" id="exampleModalLabel"><span class="glyphicon glyphicon-hand-down"></span> Add configuration</h4>
                    </div>

                    <div class="modal-body">
                        <div class="form-horizontal">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-sm-12">


                                        <label>Parameter ID</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="text" id="paramid1" name="paramid1" class="form-control" />
                                            </div>
                                        </div>

                                        <label>parameter Value</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="text" id="paramvalue1" name="paramvalue1" class="form-control" />
                                            </div>
                                        </div>
                                        <label>Status</label>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="text" id="paramstatus1" value="ACTIVE" name="paramstatus1" class="form-control" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>


                        <span style="margin-left:200px"> <button class="btn btn-success" type="button" id="AddConfigBtn"><span class="glyphicon glyphicon-save"></span> Add Configuration</button></span>

                    </div>

                </div>
            </div>
        </div>


    }







    <div class="modal fade updaterecordmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="calenderModalLabel">
        <div class="modal-dialog modal" style="vertical-align: middle; margin:0 auto 0 30%; overflow-y:hidden; overflow-x:hidden; display:block; margin-top:50px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-success" id="exampleModalLabel"><span class="glyphicon glyphicon-hand-down"></span> Update Facility Record</h4>
                </div>

                <div class="modal-body">
                    <div class="form-horizontal">

                        <div class="row">
                            <div class="col-md-12">

                                <div class="col-sm-12">


                                    <label>Parameter ID</label>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input type="text" id="paramid" readonly name="paramid" class="form-control" />
                                        </div>
                                    </div>

                                    <label>parameter Value</label>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input type="text" id="paramvalue" name="paramvalue" class="form-control" />
                                        </div>
                                    </div>
                                    <label>Status</label>
                                    <div class="form-group">
                                        <div class="col-md-10">
                                            <input type="text" id="paramstatus" name="paramstatus" class="form-control" />
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <span style="margin-left:200px"> <button class="btn btn-success" id="configupdaterecord"><span class="glyphicon glyphicon-save"></span> Update Record</button></span>

                </div>

            </div>
        </div>
    </div>





    <div class="row">
        <div class="col-md-12" style="background-color:white">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Configuration Information</legend>
                <button class="btn btn-xs btn-info" style="float:right" data-toggle="modal" data-target=".addconfigmodal"><span class="glyphicon glyphicon-plus"></span> Add Configuration</button>

                <table class="table table-striped table-condensed table-responsive table-bordered customDT" id="mytable">
                    <thead>
                        <tr>
                            <th><strong>Parameter ID</strong>
                            <th><strong>Prarameter Value</strong> </th>
                            <th><strong>Status</strong></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(LOBP.DbEntities.Configuration n in Model)
                        {
                            <tr>
                                <td>@n.ParamID</td>
                                <td>@n.ParamValue</td>
                                <td>@n.Status</td>
                                <td><button class="btn btn-success btn-xs" onclick="FacilityJs('@n.ParamID', '@n.ParamValue', '@n.Status')" id="updatebtn"><span class="glyphicon glyphicon-eye-open"></span> Update</button></td>
                            </tr>
                        }


                    </tbody>
                </table>
            </fieldset>
        </div>
    </div>

    <div style="display:none" class="loadingImage">
        <div id="load" style="width: 100%; height: 100%; top:0; left:0; position:fixed; display:block; opacity:0.7; background-color:#fff; z-index:99; text-align:center">
            <img id="loading-image" style="position:absolute; top:100px; left:50%; z-index:100" src="~/Images/spinning.gif" />
        </div>
    </div>

    <div id="modalMapDialog" style="display: none">
        <div id="MapContainer" style="height: 430px; width: 100%;border: 5px solid green;"></div>
    </div>

</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $("#mytable").dataTable({
                "aLengthMenu": [10, 25, 50, 75, 100, 200],
                'iDisplayLength': 10,
                columnDefs: [{ orderable: false, "targets": [0, -1] }],
                "language": {
                    "lengthMenu": "Display  _MENU_ records",
                    "zeroRecords": "No record found",
                    "info": "Showing page _PAGE_ of _PAGES_",
                    "infoEmpty": "No Record to Display Currently",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                },
                "order": [[1, "desc"]]
            });


            $("#AddConfigBtn").click(function () {
                var paramid =  $("#paramid1").val();
                var paramvalue = $("#paramvalue1").val();
                var paramstatus = $("#paramstatus1").val();
                if ($("#formid").valid()) {
                    var msg = confirm("Are you sure you want to add configuration record?");

                    if (msg === true) {
                        $(".loadingImage").show('fast');
                        $.post("/Admin/AddConfig", { "Paramid": paramid, "Paramvalue": paramvalue, "Paramstatus": paramstatus }, function (data) {
                            if (data === "success") {
                                alert("Record was successfully saved");
                                history.go(0);
                            } else {
                                alert(data);
                                $(".loadingImage").hide('fast');

                            }
                            

                        });
                    }
                }

            });




            $("#configupdaterecord").click(function () {

                var msg = confirm("Are you sure you want to update this record?");
                $(".updaterecordmodal").modal("hide");
                debugger;
                var paramid = $("#paramid").val();
                var paramvalue = $("#paramvalue").val();
                var paramstatus = $("#paramstatus").val();



                if (msg === true) {
                    $(".loadingImage").show('fast');
                    $.post("/Admin/UpdateConfigurationRecord", { "Paramid": paramid, "Paramvalue": paramvalue, "Paramstatus": paramstatus }, function (res) {
                        if (res === "success") {
                            alert("Update was successful");
                            $(".updaterecordmodal").modal("hide");
                            $(".loadingImage").hide('fast');
                            history.go(0);
                        }
                        else {
                            alert("Something went wrong");
                            $(".loadingImage").hide('fast');
                        }
                    });
                    $(".loadingImage").hide('fast');
                }
                else {
                    return false;
                }

            });




        });



        function FacilityJs(paramid, paramvalue, paramstatus) {
            $(".loadingImage").show('fast');
            $("#paramid").val(paramid);
            $("#paramvalue").val(paramvalue);
            $("#paramstatus").val(paramstatus);
            $(".updaterecordmodal").modal('show');
            $(".loadingImage").hide('fast');
        };

    </script>
}


