
@{
    ViewBag.Title = "Generate Extra Payment";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
<div class="content">
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("AddExtraPayment", "Admin", FormMethod.Post))
    {
        <div class="modal fade Extrapaymentmodal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="calenderModalLabel">
            <div class="modal-dialog" style="display:inline-block; vertical-align:middle; margin:0 auto 0 35%; width:400px; height:500px; margin-top:100px" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-success" id="exampleModalLabel"><span class="glyphicon glyphicon-hand-down"></span> Extra Payment for <label id="geneappid"></label></h4>
                    </div>

                    <div class="modal-body">
                        <div class="container">
                            <div class="paymentmade">
                               
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="hidden" id="myappid" name="myappid" />
                                        <input type="hidden" id="status" name="status" value="Pending" />
                                        <input type="hidden" id="penaltytype" name="penaltytype" />
                                        <input type="number" style="display:none" id="subtotal" name="subtotal" />

                                        <label style="font-family:Cambria; font-weight:bold">Penalty Type</label>
                                        <select class="form-control Penaltytxt" required="" id="Penaltytxt" name="Penaltytxt"></select>
                                        <br />

                                        <label style="font-family:Cambria; font-weight:bold">Qty</label>
                                        <input class="form-control" id="Qty" type="number" name="Qty" required="" /><br />


                                        <label style="font-family:Cambria; font-weight:bold">Amount</label>
                                        <input class="form-control" id="penaltyamount" type="number" name="penaltyamount" required="" /><br />


                                        <label style="font-family:Cambria; font-weight:bold">Description</label>
                                        <textarea cols="3" rows="3" class="form-control" id="penaltydescription" name="penaltydescription" required=""></textarea>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-offset-2">
                                <div class="col-sm-7">
                                    <button type="submit" id="submitbtn" class="btn btn-success">Generate Extra Payment</button>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @{
        if (TempData["message"] != null)
        {
            <div class="alert alert-danger alert-dismissable text-center" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign"></span> @TempData["message"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        if (TempData["GeneSuccess"] != null)
        {
            <div class="alert alert-success alert-dismissable text-center" role="alert">
                <span class="glyphicon glyphicon-ok"></span> @TempData["GeneSuccess"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
    }

    <table class="table table-striped table-bordered table-hover dataTable">
        <thead>
            <tr>


                <th>Application Ref Number</th>
                <th>Company Email</th>
                <th>Company Name</th>
                <th>Application Type</th>
                <th>Category</th>
                <th>Applied Date</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var b in ViewBag.ExtraPaymentStage)
            {
                <tr>

                    <td>@b.ApplicationId</td>
                    <td>@b.ApplicantUserId</td>
                    <td>@b.ApplicantName</td>
                    <td>@b.ApplicationTypeId</td>
                    <td>@b.LicenseTypeId</td>
                    <td>@b.AddedDate</td>
                    <td>
                        <a href="javascript:Myextrapaymeny('@b.ApplicationId')" id="extrapaybtn" class="btn btn-info"><span class="glyphicon glyphicon-eye-open"> Generate Extra Payment</span></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>
@section scripts{
    <script type="text/javascript">
            $(function () {
            $(".dataTable").dataTable({
                "aLengthMenu": [25, 50, 75, 100, 200],
                'iDisplayLength': 25,
                'dom': 'Blfrtip',
                'columnDefs': [{ orderable: false, "targets": [-1] }],
                "language": {
                    "lengthMenu": "Display  _MENU_ records per page",
                    "zeroRecords": "Nothing found - sorry",
                    "infoEmpty": "No records available",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                },
                "order": [[1, "desc"]]
            });


                $("#Qty").keyup(function () {

                    var subamt = $("#subtotal").val();
                    var qty = $("#Qty").val();
                    var totalamt = subamt * qty;
                    $("#penaltyamount").val(totalamt);

                    if (qty === "0" || qty.length == 0) {
                        $("#penaltyamount").val(0);
                        $("#submitbtn").attr("disabled", true);
                    } else {
                        $("#submitbtn").attr("disabled", false);
                    }
                });






                $("#Penaltytxt").change(function () {
                    
                    PenaltyText = $("#Penaltytxt option:selected").text();
                    if (PenaltyText === "INCOMPLETE FEE") {
                        $("#penaltyamount").attr("readonly", false);

                    } else {
                        $("#penaltyamount").attr("readonly", true);
                    }

                    $("#penaltytype").val(PenaltyText);

                    $.getJSON("/Admin/GetPenaltyAmount",
                        { "Penalty": PenaltyText },
                        function (response) {

                            if (response != null) {

                                console.log(response);

                                $.each(response, function (key, val) {

                                    $("#penaltyamount").val(val.PenaltyFee);
                                    $("#subtotal").val(val.PenaltyFee);
                                    $("#Qty").val(1);
                                });
                            }

                        });
                });





                $(".Penaltytxt").ready(function () {
                    var html = "";
                    debugger;
                    $(".Penaltytxt").html("");

                    $.getJSON("/Admin/GetPenalty",
                        {},
                        function (datas) {
                            $(".Penaltytxt").append("<option></option>");
                            $.each(datas,
                                function (key, val) {
                                    html += "<option value=" + val.PenaltyType + ">" + val.PenaltyType + "</option>";
                                });
                            $(".Penaltytxt").append(html);
                        });
                });





        });

        function Myextrapaymeny(appid) {
            $("#myappid").val(appid);
            $("#geneappid").text(appid);
            var confirmaction = confirm("Are you sure you want to generate extra payment fro application with reference number " + appid + "?");
            if (confirmaction === true) {
                $(".Extrapaymentmodal").modal('show');
            }
        }
    </script>
}
