@model IEnumerable<LOBP.Models.PermitModels>
@using System.Globalization;

@{
    ViewBag.Title = "View ATC";
    Layout = null;
    DateTime date = DateTime.ParseExact("20/10/2021", "dd/MM/yyyy", CultureInfo.InvariantCulture);

}

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
    </style>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>


    <div style="padding:3px; color:black">

        <div style="width:100%; height:98%;" class="divPermitPreview divPermitPreview2">

            <div class="text-center">

                <div style="font-family:'Times New Roman'; font-weight:bold; font-size:20px; line-height:30px">
                    @if (Convert.ToDateTime(Model.FirstOrDefault().permitmodels.FirstOrDefault().IssuedDate) >= date || (Model.FirstOrDefault().permitmodels.FirstOrDefault().IssuedDate) == Convert.ToDateTime(null).ToString("MMMM dd, yyyy"))
                    {
                        <img src="~/Images/nmdpra.png" alt="Logo" style="height: 110px; display: block; margin: 0 auto" /><br />
                    }
                    else
                    {
                        <img src="~/Images/Dpr_logo.png" style="height: 110px; display: block; margin: 0 auto" /><br />
                    }
                    <sanp style="font-weight:bold">APPROVAL TO CONSTRUCT </sanp><br /><br />


                    <div style="margin-left:300px">ATCLFP No: @Model.FirstOrDefault().permitmodels.FirstOrDefault().PermitNumber </div>


                </div>

                <p></p>

                <!--<div style="margin:0px 50px 0px 50px; padding:10px;" class="text-left">-->





                <div style="font-family:'Times New Roman'; font-size:20px;">



                    <div>
                        <sanp style="font-weight:bold;">APPROVAL TO CONSTRUCT FOR LUBRICANT FILLING PLANT</sanp>

                        <p></p>

                        <div style="line-height:30px; font-size:20px;">
                            <div style="text-align: justify">
                                Having satisfactorily complied with the requirements of the Department for Approval to Construct Lubricant Filling Plant is hereby granted to:
                            </div><br />
                            <div style=" border-bottom: 2px dotted #888;padding: 5px 0 0;" colspan="3">
                                <div style="display: inline-block; margin-bottom:-3px; background-color:#fff; padding: 5px 10px 5px 0;">
                                </div><span style="font-weight: bold;font-size: 22px; text-align:center" id="facAddress1">@Model.FirstOrDefault().permitmodels.FirstOrDefault().CompanyName</span>

                            </div>
                            <div class="text-center">
                                (Name of the Company)
                            </div>
                            <br /><br />

                            <div style=" border-bottom: 2px dotted #888;padding: 5px 0 0;" colspan="3">
                                <div style="display: inline-block; margin-bottom:-3px; background-color:#fff; padding: 5px 10px 5px 0;">
                                </div><span style="font-weight: bold;font-size: 22px; text-align:center" id="facAddress1">@Model.FirstOrDefault().permitmodels.FirstOrDefault().LocationAddress</span>
                            </div>
                            <div class="text-center">
                                (Site location Address)
                            </div>
                            <br /><br />

                            <div style="text-align: justify">
                                By this Approval, you are hereby authorized to proceed with Construction/Installation stages of the Project.
                            </div>
                            <br /><br />

                            <div style="text-align: justify">
                                You shall however ensure that nominated and accredited representatives of the Department, participate fully in the project construction and installation activities.
                            </div>
                            <br /><br />
                            <div style="text-align: justify">
                                This approval shall be valid for twelve months (12) within which you are expected to have commenced construction/installation of the Plant.
                            </div>
                            <br /><br />

                            <table style="width: 100%; border-spacing: 0; position: relative; margin-top: 0px; font-size: 26px;">
                                <tr>
                                    <td style=" padding: 5px 0 0; border-bottom: 2px dotted #888;">
                                        <div style="display: inline-block; margin-bottom: -3px; background-color:#fff; padding:  5px 10px 5px 0;">
                                            Date this
                                        </div>
                                        <b style="font-weight: bold;font-size: 22px;">@Model.FirstOrDefault().permitmodels.FirstOrDefault().IssuedDay</b>
                                    </td>
                                    <td style=" padding: 5px 0 0; border-bottom:2px dotted #888;">
                                        <div style="display: inline-block; margin-bottom: -3px; background-color:#fff; padding:5px 10px 5px 0;">
                                            &nbsp; &nbsp; Day of
                                        </div>
                                        <b style="font-weight: bold;font-size: 22px;">@Model.FirstOrDefault().permitmodels.FirstOrDefault().IssuedMonth</b>
                                    </td>
                                    <td style=" padding: 5px 0 0; border-bottom:2px dotted #888;">
                                        <span style="display: inline-block; margin-bottom: -3px; background-color:#fff; padding:5px 10px 5px 0; margin-right:90px">
                                            Year
                                        </span>
                                        <b style="font-weight: bold;font-size:22px;">@Model.FirstOrDefault().permitmodels.FirstOrDefault().IssuedYear</b>
                                    </td>
                                </tr>

                            </table>



                            <br />

                        </div>
                        <br />

                        <table style="width: 100%; position: relative;">
                            <tr style="height: 180px; margin-top: 0px;">
                                <td style="vertical-align: bottom;">
                                    Yours faithfully,

                                    <br />
                                    <img src="@Url.Content(Model.FirstOrDefault().permitmodels.FirstOrDefault().Signature)" style="height: 100px; width: 235px;" />
                                    <br />
                                    @if (Convert.ToDateTime(Model.FirstOrDefault().permitmodels.FirstOrDefault().IssuedDate) >= date || (Model.FirstOrDefault().permitmodels.FirstOrDefault().IssuedDate) == Convert.ToDateTime(null).ToString("MMMM dd, yyyy"))
                                    {
                                        <sanp style="float:left">Authority Chief Excutive, NMDPRA</sanp>
                                    }
                                    else
                                    {
                                        <sanp style="float:left">Director/CEO, Department of Petroleum Resources.</sanp>
                                    }

                                </td>
                                <td>
                                    <div class="center">
                                        <img style="height:150px" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.FirstOrDefault().permitmodels.FirstOrDefault().QrCode))" />
                                    </div>
                                    <div style="clear: both;"></div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <!--</div>-->

            </div>

        </div>

    </div>
    <div class="text-center">
        <div style="width:99%">

            <div style="line-height:30px; font-size:15px; text-align:justify">
                Approval to Construct Lubricant Filling Plant for your proposed plant at the above stated location is hereby granted subject to the conditions below:<br /><br />

                1.	The proposed LOBP must be built in line with the Petroleum Regulations now in force or which may come into force during the plant construction period.<br />
                2.	The proposed plant must be built to the agreed codes and standards.<br />
                3.	Any alteration to the approved drawings must be with the written Approval of the Department.<br />
                4.	Inspections and Test Plan for all critical equipment must be submitted to the Department for identification of witness and hold points.<br />
                5.	All identified tests/inspection for critical equipment must be witnessed by representatives of the Department.<br />
                6.	Notice of inspection/test and request for NMDPRA participation must be submitted not less than four (4) weeks before the proposed test/inspection date.<br />
                7.	Notice of abandonment of project, for any reason, must be submitted to the Department not less than ninety days before demobilization.<br />
                8.	There should be presentation of project milestones at appropriate phases of development of the project to the Department.

            </div>
        </div>
    </div>
</body>
</html>

@if (Convert.ToDateTime(Model.FirstOrDefault().permitmodels.FirstOrDefault().IssuedDate) >= date || (Model.FirstOrDefault().permitmodels.FirstOrDefault().IssuedDate) == Convert.ToDateTime(null).ToString("MMMM dd, yyyy"))
{
    <style>
        .divPermitPreview {
            background-image: url('../../Images/waterMark2.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        #List1 li {
            display: inline-block;
            text-align: left;
        }
    </style>

}
else
{
    <style>
        .divPermitPreview2 {
            background-image: url('../../Images/waterMark.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        #List1 li {
            display: inline-block;
            text-align: left;
        }
    </style>
}