<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title text-center">
       Company Inspection Acceptance
    </h4>
</div>

<div class="modal-body">
    <form action="@Url.Action("InspectionApproval")" method="post" class="form-horizontal">
        @Html.AntiForgeryToken()

        <input type="hidden" name="ApplicationId" id="ApplicationId" value="@ViewBag.ApplicationId" />

        <div class="form-group">
            <label class="control-label col-md-3">License Type</label>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@ViewBag.AppDescription" readonly style="border: 0px;">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Application Reference</label>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@ViewBag.ApplicationId" readonly style="border: 0px;">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-3">Inspection Date</label>
            <div class="col-md-9">
                <input type="text" class="form-control" value="@ViewBag.InspectionDate" readonly style="border: 0px;">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3">Contact Name</label>
            <div class="col-md-9">
                <input type="text" class="form-control" id="contactname" name="contactname" required="">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-3">Contact Phone Number</label>
            <div class="col-md-9">
                <input type="number" class="form-control" id="contactnumber" placeholder="e.g 08077745341" name="contactnumber" required="">
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-3">Comment</label>
            <div class="col-md-9">
                <textarea class="form-control" rows="3" id="comment" name="comment" style="resize:none" required=""></textarea>
            </div>
        </div>

        <div class="clear"></div>
        <div class="modal-footer">
            <input class="btn btn-danger" type="submit" value="Reject" name="rejectbtn" id="rejectbtn" />
            <button class="btn btn-default" data-dismiss="modal">Close</button>
            <input class="btn btn-success" type="submit" value="Accept" name="approvalbtn" id="approvalbtn" />
        </div>
    </form>
</div>
