@model LOBP.Models.PasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_CompanyLayout.cshtml";
}

<div class="row">
    <div class="pageTitle bg1">
        <h2 class="lefty">Change Password</h2>
        <div class="clear"></div>
    </div>
</div>

<div class="col-md-6 col-md-offset-2">
    <div class="row">
        @using (Html.BeginForm("ChangePassword", "Company", FormMethod.Post, new { id = "formid", role = "form", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)


            <div class="form-group">
                <label class="col-md-4 control-label" for="OldPassword">Current password</label>
                <div class="col-md-8">
                    @Html.PasswordFor(model => model.OldPassword, new { required = "required", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OldPassword)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="NewPassword">New password</label>
                <div class="col-md-8">
                    @Html.PasswordFor(model => model.NewPassword, new { required = "required", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.NewPassword)
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label" for="ConfirmPassword">Confirm new password</label>
                <div class="col-md-8">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { required = "required", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </div>
            <hr>
            <div class="form-group">
                <div class="txtcenter">
                    <a class="btn btn-default" href="@Url.Action("Index")">Cancel</a> &nbsp;
                    <input class="btn btn-primary" type="submit" value="Apply" id="submitbtn">
                </div>
            </div>
        }
    </div>
</div>




@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#submitbtn').click(function (e) {
                e.preventDefault();

                if ($("#formid").valid()) {
                    var oldpasswd = $("#OldPassword").val();
                    var newpasswd = $("#NewPassword").val();
                    var confirmpasswd = $("#ConfirmPassword").val();

                    if (newpasswd != confirmpasswd) {
                        bootbox.alert({
                            message: 'The New Password and Confirmation Password must Match',
                            size: 'small',
                            callback: function () { }
                        });
                    }
                    else {

                        bootbox.confirm({
                            title: Description,
                            message: "Do you really want to Proceed with the Password Change?",
                            size: 'small',
                            className: 'bb-alternate-modal',
                            buttons: {
                                cancel: {
                                    label: '<i class="fa fa-times"></i> Cancel'
                                },
                                confirm: {
                                    label: '<i class="fa fa-check"></i> Confirm'
                                }
                            },
                            callback: function (result) {
                                if (result == true) {
                                    $.post($("#formid").attr('action'), $("#formid").serialize())
                            .done(function (data) {

                                var returnmessage = data.Message;
                                if (returnmessage != 'success') {
                                    bootbox.alert({
                                        message: data.Message,
                                        size: 'small',
                                        callback: function () { }
                                    });
                                }
                                else {
                                    bootbox.alert({
                                        message: data.Message,
                                        size: 'small',
                                        callback: function () { }
                                    });
                                    window.location.href = "/Company/Index";
                                }

                            })
                           .fail(function (data) {
                               alert("Network Communication Error, Restore Connection and Try again");
                           })
                          .always(function (data) {
                          });
                                }
                            }
                        });
                    }
                }
            });
        });
    </script>
}
