@model IEnumerable<LOBP.Models.PermitModels>
@{
    ViewBag.Title = "View ATM";
    Layout = null;
}

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
    </style>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>


    <div style="padding:3px; color:black">

        <div style="width:100%; height:98%;" id="divPermitPreview">

            <div class="text-center">

                <div style="font-family:'Times New Roman'; font-weight:bold; line-height:30px">


                    <img src="~/Images/Dpr_logo.png" style="height: 110px; display: block; margin: 0 auto" /><br />

                    <sanp style="font-weight:bold">APPROVAL TO MODIFY </sanp><br /><br />


                    <div style="margin-left:300px">ATM No: @Model.FirstOrDefault().permitmodels.FirstOrDefault().PermitNumber </div>


                </div>

                <p></p>

                <!--<div style="margin:0px 50px 0px 50px; padding:10px;" class="text-left">-->





                <div style="font-family:'Times New Roman'; font-size:20px;">



                    <div>
                        <sanp style="font-weight:bold">APPROVAL TO MODIFY FOR @Model.FirstOrDefault().permitmodels.FirstOrDefault().ApplicationCategory.ToUpper()</sanp>

                        <p></p>

                        <div style="line-height:30px; font-size:20px;">
                            <div style="text-align: left">
                                Having satisfactorily complied with the requirements of the Department, Approval to
                                Modify (ATM) @Model.FirstOrDefault().permitmodels.FirstOrDefault().ApplicationCategory.ToUpper() is hereby granted to:
                            </div><br />
                            <div style=" border-bottom: 2px dotted #888;padding: 5px 0 0;" colspan="3">
                                <div style="display: inline-block; margin-bottom:-3px; background-color:#fff; padding: 5px 10px 5px 0;">
                                </div><span style="font-weight: bold;font-size: 22px; text-align:center" id="facAddress1">@Model.FirstOrDefault().permitmodels.FirstOrDefault().CompanyName</span>

                            </div>
                            <div class="text-center">
                                (Name of the Company)
                            </div>
                            <br /><br />

                            <div style=" border-bottom: 2px dotted #888;padding: 5px 0 0;" colspan="3">
                                <div style="display: inline-block; margin-bottom:-3px; background-color:#fff; padding: 5px 10px 5px 0;">
                                </div><span style="font-weight: bold;font-size: 22px; text-align:center" id="facAddress1">@Model.FirstOrDefault().permitmodels.FirstOrDefault().LocationAddress</span>
                            </div>
                            <div class="text-center">
                                (Plant location Address)
                            </div>
                            <br /><br />

                            <div style="text-align: justify">
                                By this Approval, you are hereby authorized to proceed with modification of your @Model.FirstOrDefault().permitmodels.FirstOrDefault().ApplicationCategory.

                            </div>
                            <br /><br />
                            <div style="text-align: justify">
                                You shall however ensure that nominated/accredited representatives of the Department participate fully in all modification activities of the plant.
                            </div> <br /><br />

                            <table style="width: 100%; border-spacing: 0; position: relative; margin-top: 0px; font-size: 26px;">
                                <tr>
                                    <td style=" padding: 5px 0 0; border-bottom: 2px dotted #888;">
                                        <div style="display: inline-block; margin-bottom: -3px; background-color:#fff; padding:  5px 10px 5px 0;">
                                            Date this
                                        </div>
                                        <b style="font-weight: bold;font-size: 22px;">@Model.FirstOrDefault().permitmodels.FirstOrDefault().IssuedDay</b>
                                    </td>
                                    <td style=" padding: 5px 0 0; border-bottom:2px dotted #888;">
                                        <div style="display: inline-block; margin-bottom: -3px; background-color:#fff; padding:  5px 10px 5px 0;">
                                            &nbsp; &nbsp; Day of
                                        </div>
                                        <b style="font-weight: bold;font-size: 22px;">@Model.FirstOrDefault().permitmodels.FirstOrDefault().IssuedMonth</b>
                                    </td>
                                    <td style=" padding: 5px 0 0; border-bottom:2px dotted #888;">
                                        <span style="display: inline-block; margin-bottom: -3px; background-color:#fff; padding:5px 10px 5px 0; margin-right:90px">
                                            Year
                                        </span>
                                        <b style="font-weight: bold;font-size:22px;">@Model.FirstOrDefault().permitmodels.FirstOrDefault().IssuedYear</b>
                                    </td>
                                </tr>

                            </table>



                            <br />

                        </div>
                        <br />

                        <table style="width: 100%; position: relative;">
                            <tr style="height: 180px; margin-top: 0px;">
                                <td style="vertical-align: bottom;">
                                    Yours faithfully,

                                    <br />
                                    <img src="@Url.Content(Model.FirstOrDefault().permitmodels.FirstOrDefault().Signature)" style="height: 100px; width: 235px;" />
                                    <br />
                                    <sanp style="float:left">Director/CEO, Department of Petroleum Resources.</sanp>

                                </td>
                                <td>
                                    <div class="center">
                                        <img style="height:150px" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.FirstOrDefault().permitmodels.FirstOrDefault().QrCode))" />
                                    </div>
                                    <div style="clear: both;"></div>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
                <!--</div>-->

            </div>

        </div>

    </div>




</body>
</html>

<style>

    #List1 li {
        display: inline-block;
        text-align: left;
    }

    #divPermitPreview {
        background-image: url('../../Images/waterMark.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
</style>